# Dependency directories
node_modules/

# Expo / React Native testing files
.expo/
.expo-shared/
dist/
npm-debug.log
yarn-error.log
playgrounds/
app/

# Mac OS
.DS_Store

# Note: DO NOT ignore the __registry__ folder! 
